# Auto detect text files and perform LF normali2.1.1-cuda12.1-cudnn8-runtimezation
* text=auto

# .ipynb ignore in statistics
notebooks/* linguist-vendored
*.ipynb linguist-vendored


*.pth filter=lfs diff=lfs merge=lfs -text